[Desktop Entry]
Type=Application
Name[ar]=كود
Name[bo]=Code
Name[bs]=Kod
Name[ca]=Codi
Name[ckb]=كۆد
Name[cs]=Code
Name[da]=Code
Name[de]=Code
Name[el]=Κώδικας
Name[en_AU]=Code
Name[en_CA]=Code
Name[en_GB]=Code
Name[eo]=Kodo
Name[es]=Code
Name[fa]=کد
Name[fi]=Koodi
Name[fr]=Code
Name[fr_CA]=Code
Name[gl]=Code
Name[he]=קוד
Name[hi]=कोड
Name[hu]=Kód
Name[id]=Code
Name[it]=Codice
Name[ja]=コード
Name[ko]=코드
Name[lt]=Kodas
Name[mr]=कोड
Name[ms]=Code
Name[nb]=Kode
Name[nl]=Code
Name[nn]=Code
Name[oc]=Còdi
Name[pa]=ਕੋਡ
Name[pl]=Kod
Name[pt]=Code
Name[pt_BR]=Code
Name[ro]=Code
Name[ru]=Код
Name[si]=කේතය
Name[sk]=Kód
Name[sl]=Koda
Name[sr]=Код
Name[sv]=Kod
Name[szl]=Kod
Name[tr]=Kod
Name[uk]=Код
Name[uz]=Code
Name[zh_CN]=代码
Name[zh_TW]=Code
Name=Code
Comment[bs]=Uredite datoteke s kodom
Comment[ca]=Editeu fitxers de codi
Comment[ckb]=دەستکاریکردنی پەڕگەکانی کۆد
Comment[cs]=Upravujte soubory se zdrojovými kódy
Comment[da]=Redigér kodefiler
Comment[de]=Code Editor
Comment[en_CA]=Edit code files
Comment[en_GB]=Edit code files
Comment[eo]=Modifi kodajn dosierojn
Comment[es]=Edite archivos de código
Comment[fi]=Muokkaa kooditiedostoja
Comment[fr]=Modifier des fichiers de code
Comment[gl]=Editar ficheiros de código
Comment[he]=עריכת קובצי קוד
Comment[hi]=कोड फ़ाइलों को संपादित करें
Comment[hu]=Kódfájlok szerkesztése
Comment[id]=Sunting berkas kode
Comment[it]=Modifica file sorgenti
Comment[ja]=コードファイルを編集します
Comment[ko]=코드 파일을 편집합니다
Comment[ku]=pelên nivîsê sererast bike
Comment[lt]=Redaguoti kodo failus
Comment[mr]=कोड फायली संपादित करा
Comment[ms]=Sunting fail-fail kod
Comment[nb]=Rediger kodefiler
Comment[nl]=Bewerk bronbestanden
Comment[nn]=Rediger kodefiler
Comment[pl]=Modyfikuje pliki z kodem
Comment[pt]=Editar ficheiros de código
Comment[pt_BR]=Edite arquivos de código
Comment[ru]=Редактирование файлов с кодом
Comment[sk]=Upravujte súbory so zdrojovými kódmi
Comment[sl]=Urejajte datoteke s kodo
Comment[sr]=Уредите кодне датотеке
Comment[sv]=Redigera kodfiler
Comment[tr]=Kod dosyalarını düzenle
Comment[uk]=Зміна файлів з кодом
Comment[zh_CN]=编辑代码文件
Comment[zh_TW]=編輯源碼檔
Comment=Edit code files
GenericName[bs]=Kod uređivač
GenericName[ca]=Editor de codi
GenericName[ckb]=دەستکاریکەری کۆد
GenericName[cs]=Editor kódu
GenericName[da]=Kode Editor
GenericName[de]=Code Editor
GenericName[en_CA]=Code Editor
GenericName[en_GB]=Code Editor
GenericName[eo]=Koda Redaktilo
GenericName[es]=Editor de código
GenericName[fi]=Koodimuokkain
GenericName[fr]=Éditeur de code
GenericName[gl]=Editor de código
GenericName[he]=עורך קוד
GenericName[hu]=Kód szerkesztő
GenericName[id]=Penyunting Kode
GenericName[it]=Editor di file sorgenti
GenericName[ja]=コードエディター
GenericName[ko]=코드 에디터
GenericName[lt]=Kodų redaktorius
GenericName[mr]=कोड संपादक
GenericName[ms]=Penyunting Kod
GenericName[nb]=Kode -tekstbehandler
GenericName[nl]=Code Editor
GenericName[nn]=Kodehandsamar
GenericName[pl]=Edytor Kod
GenericName[pt]=Editor de código
GenericName[pt_BR]=Editor Code
GenericName[ru]=Редактор кода
GenericName[sk]=Editor kódu
GenericName[sl]=Urejevalnik kode
GenericName[sr]=Уређивач кода
GenericName[sv]=Kod textredigerare
GenericName[tr]=Kod Düzenleyici
GenericName[uk]=Редактор коду
GenericName[zh_CN]=代码编辑器
GenericName[zh_TW]=Code 編輯器
GenericName=Code Editor
Exec=io.elementary.code %U
Icon[bs]=io.elementary.code
Icon[ca]=io.elementary.code
Icon[cs]=io.elementary.code
Icon[da]=io.elementary.code
Icon[de]=io.elementary.code
Icon[en_CA]=io.elementary.code
Icon[en_GB]=io.elementary.code
Icon[eo]=io.elementary.code
Icon[es]=io.elementary.code
Icon[fi]=io.elementary.code
Icon[fr]=io.elementary.code
Icon[gl]=io.elementary.code
Icon[he]=io.elementary.code
Icon[hu]=io.elementary.code
Icon[id]=io.elementary.code
Icon[it]=io.elementary.code
Icon[ja]=io.elementary.code
Icon[ko]=io.elementary.code
Icon[lt]=io.elementary.code
Icon[mr]=io.elementary.code
Icon[nb]=io.elementary.code
Icon[nl]=io.elementary.code
Icon[nn]=io.elementary.code
Icon[pl]=io.elementary.code
Icon[pt]=io.elementary.code
Icon[pt_BR]=io.elementary.code
Icon[ru]=io.elementary.code
Icon[sl]=io.elementary.code
Icon[sr]=io.elementary.code
Icon[sv]=io.elementary.code
Icon[tr]=io.elementary.code
Icon[uk]=io.elementary.code
Icon[zh_CN]=io.elementary.code
Icon[zh_TW]=io.elementary.code
Icon=io.elementary.code
Terminal=false
Categories=Development;GTK;IDE;WebDevelopment;
Keywords[ca]=text;IDE;scratch;
Keywords[ckb]=text;IDE;scratch;
Keywords[cs]=text;IDE;scratch;
Keywords[da]=text;IDE;scratch;
Keywords[de]=Text;Entwicklungsumgebung;IDE;Code;
Keywords[en_GB]=text;IDE;scratch;
Keywords[eo]=teksto;IDE;integrita disvolva medio;scratch;
Keywords[es]=texto;IDE;EID;scratch;
Keywords[fi]=teksti;IDE;scratch;
Keywords[fr]=Code;IDE;EDI;scratch;éditeur;intégré;développement;texte;
Keywords[gl]=text;IDE;scratch;
Keywords[he]=סביבת פיתוח;קוד;תכנות;טקסט;עריכה;
Keywords[hu]=szöveg;IDE;scratch;
Keywords[it]=testo;IDE;scratch;
Keywords[ja]=text;IDE;scratch;テキスト;統合開発環境;
Keywords[ko]=text;IDE;scratch;
Keywords[lt]=tekstas;IDE;scratch;
Keywords[mr]=टेक्स्ट;आईडीई ;स्क्रैच;
Keywords[nb]=text;IDE;scratch;
Keywords[nl]=tekst;IDE;scratch;
Keywords[nn]=text;IDE;scratch;
Keywords[pl]=tekst;IDE;kod;scratch;
Keywords[pt]=texto;IDE;scratch;
Keywords[pt_BR]=texto;IDE;scratch;
Keywords[ru]=текст;редактор;код;IDE;
Keywords[sk]=text;IDE;scratch;
Keywords[sl]=besedilo;tekst;code;text;IDE;scratch;
Keywords[sr]=текст;ИДЕ;ИРО;нацрт;скица;
Keywords[tr]=metin;IDE;karalama;text;code;scratch;
Keywords[uk]=текст;редактор;код;text;IDE;
Keywords[zh_CN]=文本;IDE;草稿;
Keywords=text;IDE;scratch;
MimeType=text/plain;inode/directory;
StartupNotify=true
Actions=NewWindow;NewFile;

X-AppImage-Version=6.2.0.glibc2.28

[Desktop Action NewFile]
Name[ar]=ملف جديد
Name[ca]=Fitxer nou
Name[ckb]=پەڕگەی نوێ
Name[cs]=Nový soubor
Name[da]=Ny Fil
Name[de]=Neue Datei
Name[en_GB]=New File
Name[eo]=Nova dosiero
Name[es]=Archivo nuevo
Name[fi]=Uusi tiedosto
Name[fr]=Nouveau fichier
Name[he]=קובץ חדש
Name[hu]=Új fájl
Name[it]=Nuovo file
Name[ja]=新しいファイル
Name[mr]=नवी फाईल
Name[nb]=Ny fil
Name[nl]=Nieuw bestand
Name[pa]=ਨਵੀਂ ਫ਼ਾਇਲ
Name[pl]=Nowy plik
Name[pt]=Novo ficheiro
Name[pt_BR]=Novo Arquivo
Name[ru]=Новый файл
Name[si]=නව ගොනුව
Name[sk]=Nový súbor
Name[sl]=Nova datoteka
Name[sr]=Нова датотека
Name[szl]=Nowy zbiōr
Name[tr]=Yeni Dosya
Name[uk]=Новий файл
Name[uz]=Yangi fayl
Name[zh_CN]=新文件
Name[zh_TW]=新增檔案
Name=New File
Exec=io.elementary.code --new-tab

[Desktop Action NewWindow]
Name[ar]=نافذة جديدة
Name[bg]=Нов прозорец
Name[bs]=Novi prozor
Name[ca]=Finestra nova
Name[ckb]=پەنجەرەی نوێ
Name[cs]=Nové okno
Name[da]=Nyt Vindue
Name[de]=Neues Fenster
Name[el]=Νέο Παράθυρο
Name[en_AU]=New Window
Name[en_CA]=New Window
Name[en_GB]=New Window
Name[eo]=Nova fenestro
Name[es]=Ventana nueva
Name[fa]=پنجره جدید
Name[fi]=Uusi ikkuna
Name[fr]=Nouvelle fenêtre
Name[fr_CA]=Nouvelle fenêtre
Name[gl]=Nova xanela
Name[he]=חלון חדש
Name[hi]=नया विंडो
Name[hr]=Novi prozor
Name[hu]=Új ablak
Name[id]=Jendela Baru
Name[it]=Nuova finestra
Name[ja]=新しいウィンドウ
Name[ko]=새 창
Name[lt]=Naujas langas
Name[lv]=Jauns logs
Name[mr]=नवीन विंडो
Name[ms]=Tetingkap Baru
Name[nb]=Nytt vindu
Name[nl]=Nieuw venster
Name[nn]=Nytt vindauge
Name[pa]=ਨਵੀਂ ਵਿੰਡੋ
Name[pl]=Nowe okno
Name[pt]=Nova janela
Name[pt_BR]=Nova Janela
Name[ro]=Fereastră nouă
Name[ru]=Новое окно
Name[si]=නව කවුළුවක්
Name[sk]=Nové okno
Name[sl]=Novo okno
Name[sr]=Нови прозор
Name[sv]=Nytt fönster
Name[szl]=Nowe ôkno
Name[tr]=Yeni Pencere
Name[uk]=Нове вікно
Name[uz]=Yangi oyna
Name[zh]=新窗口
Name[zh_CN]=新窗口
Name[zh_TW]=新增視窗
Name=New Window
Exec=io.elementary.code --new-window
